In [58]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [59]:
df=pd.read_csv("C:/Users/Suresh/Desktop/My File.csv")

In [60]:
df.head()

        Name  Marks
0     Suresh    500
1     Ramesh    450
2  venkatesh    400
3      sunil    350
4        ram    300

In [61]:
df.head

<bound method NDFrame.head of         Name  Marks
0     Suresh    500
1     Ramesh    450
2  venkatesh    400
3      sunil    350
4        ram    300
5        ntr    250
6        anr    200
7      chiru    150
8      pawan    100
9       bala     50>

In [62]:
df.shape

(10, 2)

In [63]:
df.ndim

2

In [64]:
x=df[["Name"]]

In [65]:
x

        Name
0     Suresh
1     Ramesh
2  venkatesh
3      sunil
4        ram
5        ntr
6        anr
7      chiru
8      pawan
9       bala

In [66]:
y=df[["Marks"]]

In [67]:
y

   Marks
0    500
1    450
2    400
3    350
4    300
5    250
6    200
7    150
8    100
9     50

In [68]:
from sklearn.linear_model import LinearRegression

In [69]:
lr=LinearRegression

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [72]:
lr.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [73]:
lr.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [74]:
pre=ir.predict(x-test)

NameError: name 'ir' is not defined

In [75]:
pre=lr.predict(x_

SyntaxError: unexpected EOF while parsing (<ipython-input-75-c93787aa9aa3>, line 1)

In [76]:
fit=lr.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [77]:
fit.score(x-train,y-train)

NameError: name 'fit' is not defined

In [81]:
ir.predict([[3]])

NameError: name 'ir' is not defined

In [80]:
ir.predict([[9]])

NameError: name 'ir' is not defined